name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build-service-broker:
    # This job will build a Java project with Gradle
    # For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle^
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v2
      with:
        path: ~/.gradle/caches
        key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
        restore-keys: |
          ${{ runner.os }}-gradle-
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
  build-cli:
    timeout-minutes: 3 # Generally our pipeline takes 1 minute to build everything.
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@main
        with:
          deno-version: "~1.21"
      - uses: actions/cache@v2
        with:
          path: ~/.cache/deno        # see https://deno.land/manual/linking_to_external_code
          key: ${{ runner.os }}-deno # it seems there's no particular cache keying required
          restore-keys: |
            ${{ runner.os }}-deno
      - run: |
          deno --version
          deno info
          
          cd cli
          ./build.sh

          cd test
          ./all.sh ../bin/unipipe
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: unipipe-cli
          path: |
            cli/bin/unipipe-cli-*